<nav class="navbar fixed-top p-0" [ngClass]="{ scrolled: isScrollTop }">
  <div
    class="container container-lg py-2 px-4"
    style="background-color: #2c7cec"
  >
    <div class="nav-top col-12">
      <div class="nav-contact">
        <i class="fa fa-phone" aria-hidden="true"></i>
        +84382641194
      </div>
      <div class="nav-promotion__content">
        <a href="/products-viewed" target="_blank">
          {{ "Discount 50% on selected items in the cart" | translate }}
        </a>
      </div>
      <div class="nav-menu col-2">
        <ng-select
          class="nav-select__language"
          [ariaSelected]="false"
          [searchable]="false"
          [closeOnSelect]="true"
          [clearable]="false"
          [(ngModel)]="selectedLanguage"
          (change)="onChangeLanguage($event)"
        >
          <ng-option [value]="'en'"
            ><img
              class="img-flag"
              src="assets/img/flag/America.png"
              alt="nation-flag"
            />
            EN</ng-option
          >
          <ng-option [value]="'vi'"
            ><img
              class="img-flag"
              src="assets/img/flag/VietNam.webp"
              alt="nation-flag"
            />
            VI</ng-option
          >
        </ng-select>
        <!-- <div>
          <input type="checkbox" id="switch" class="switch-input" />
          <label for="switch" class="switch"></label>
        </div> -->
      </div>
    </div>
  </div>
  <div class="container container-lg px-4 py-2">
    <a class="navbar-brand col-sm-3 col-md-2 p-0" routerLink="/dashboard">
      <img
        class="d-inline-block align-text-top logo-img"
        src="../../../assets/img/logo.png"
        alt="Tech Shop Logo"
        width="40"
        height="35"
        loading="lazy"
      />
      <span class="text-center logo-text">Aley TechShop</span>
    </a>

    <div class="nav d-flex col-6">
      <ul class="nav col-4">
        <li class="nav-header__item">
          <a class="nav-header__link" href="products-viewed">{{
            "Products viewed" | translate
          }}</a>
        </li>
      </ul>
      <div class="has-icon-left search-input col-8">
        <input
          class="form-control shadow-none bg-transparent"
          [placeholder]="'Search products' | translate"
          name="employeename"
          [ngbTypeahead]="search"
          [resultTemplate]="rt"
          [inputFormatter]="formatter"
          (selectItem)="navigateToProduct($event)"
          type="text"
        />
        <ng-template #rt let-r="result" let-t="term">
          <img
            [src]="r['productImage']"
            class="me-1"
            style="width: 16px; display: inline-block; margin-right: 10px"
          />
          <ngb-highlight [result]="r.productName" [term]="t"></ngb-highlight>
        </ng-template>
        <small *ngIf="searching" class="form-text text-muted"
          >searching...</small
        >
        <button class="search-button bg-transparent">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div>
      <ul class="nav">
        <li class="nav-header__item">
          <img
            src="assets/img/cart.svg"
            alt="cart img"
            class="nav-img"
            (click)="navigateToCart()"
          />
          <span *ngIf="authService.totalProduct">{{
            authService.totalProduct
          }}</span>
        </li>
        <li class="nav-header__item">
          <img
            *ngIf="!authService.userData; else dropTemplate"
            src="assets/img/user.svg"
            alt="user img"
            class="nav-img"
            (click)="navigateSignIn()"
          />

          <ng-template #dropTemplate>
            <div
              class="d-inline-block"
              ngbDropdown
              display="dynamic"
              #myDrop="ngbDropdown"
            >
              <img
                [src]="
                  userData[0].photoURL
                    ? userData[0].photoURL
                    : 'assets/img/user.svg'
                "
                alt="user img"
                class="nav-img"
                ngbDropdownAnchor
                (click)="myDrop.open()"
              />

              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button ngbDropdownItem (click)="navigateUserInfo()">
                  <img
                    src="assets/img/user.svg"
                    alt="sign out img"
                    class="nav-drd-img"
                    style="display: inline-block"
                  />{{ "User profile" | translate }}
                </button>
                <button
                  ngbDropdownItem
                  (click)="navigateAdmin()"
                  *ngIf="userData[0].role === 'Super Admin'"
                >
                  <img
                    src="assets/img/user.svg"
                    alt="sign out img"
                    class="nav-drd-img"
                    style="display: inline-block"
                  />{{ "Admin" | translate }}
                </button>
                <button ngbDropdownItem (click)="navigateOrderList()">
                  <img
                    src="assets/img/box.svg"
                    alt="sign out img"
                    class="nav-drd-img"
                    style="display: inline-block"
                  />
                  {{ "Order list" | translate }}
                </button>
                <button (click)="authService.SignOut()" ngbDropdownItem>
                  <img
                    src="assets/img/sign-out.svg"
                    alt="sign out img"
                    class="nav-drd-img"
                    style="display: inline-block"
                  />
                  {{ "Log-out" | translate }}
                </button>
              </div>
            </div>
          </ng-template>
        </li>

        <!-- Main content -->
        <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main> -->
      </ul>
    </div>
  </div>
  <div class="container container-lg px-4 nav-product">
    <ul class="nav col-10">
      <li class="nav-product__item" (click)="onClickProducts('Phone')">
        <a class="nav-product__link">{{ "Phone" | translate }}</a>
      </li>
      <li class="nav-product__item" (click)="onClickProducts('Watch')">
        <a class="nav-product__link">{{ "Watch" | translate }}</a>
      </li>
      <li class="nav-product__item" (click)="onClickProducts('Laptop')">
        <a class="nav-product__link">{{ "Laptop" | translate }}</a>
      </li>
      <li class="nav-product__item" (click)="onClickProducts('Screen')">
        <a class="nav-product__link">{{ "Screen" | translate }}</a>
      </li>
      <li class="nav-product__item" (click)="onClickProducts('Smart-tv')">
        <a class="nav-product__link">{{ "Smart TV" | translate }}</a>
      </li>
      <li class="nav-product__item" (click)="onClickProducts('Tablet')">
        <a class="nav-product__link">{{ "Tablet" | translate }}</a>
      </li>
      <li class="nav-product__item" (click)="onClickProducts('Speaker')">
        <a class="nav-product__link">{{ "Speaker" | translate }}</a>
      </li>
      <li class="nav-product__item" (click)="onClickProducts('Smart-home')">
        <a class="nav-product__link">{{ "Smart Home" | translate }}</a>
      </li>
    </ul>
  </div>
</nav>
