// @import "../../../assets/variables/variables";
h1 {
  font-size: 5.5rem;
}

.container {
  max-width: 1320px;
}
.logo {
  &-img {
    object-fit: cover;
    width: 50px;
  }
  &-text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: medium;
    font-weight: 600;
    color: #003d29;
  }
}
.nav {
  &-container {
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
  }
}
.search {
  &-input {
    outline: none;
    position: relative;
  }
  &-button {
    background-color: white;
    border: none;
    position: absolute;
    top: 4px;
    right: 5px;
    outline: none;
  }
}

.banner {
  &-area {
    background: url(../../../assets/img/header-bg.png.webp) center;
    background-size: cover;
    max-height: 600px;
    height: 600px;
  }
  &-content {
    transform: translateY(-70%);
  }
}
.fullscreen {
  height: 587px;
}

.main-text {
  font-size: 5.5rem;
  color: white;
}

// category style

.category {
  &-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &-container {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
  &-title {
    padding: 20px 0 20px 0;
    h3 {
      font-size: 35px;
      line-height: 20px;
      font-weight: 700;
    }
  }
}

//bestdeal style

.bestdeal {
  &-container {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
  &-area {
    padding-bottom: 50px;
  }
  &-title {
    padding: 20px 0 20px 0;
    h3 {
      font-size: 35px;
      line-height: 20px;
      font-weight: 700;
    }
  }
}
/* Gallery hover effects */

.grid-hover {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  list-style: none;

  figure {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    min-width: auto;
    max-width: 480px;
    max-height: 360px;

    background: #1e242b;
    text-align: center;
    cursor: pointer;

    img {
      object-fit: cover;
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 1;
    }

    figcaption {
      padding: 0.5em;
      color: rgb(57, 45, 45);
      text-transform: uppercase;
      font-size: 1em;
      background-color: white;
      position: absolute;
      bottom: 0%;
      left: 0;
      width: 100%;
      height: 25%;

      &::before {
        pointer-events: none;
      }

      &::after {
        pointer-events: none;
      }

      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }

    h3 {
      word-spacing: -0.15em;
      font-weight: 300;
      margin: 0;

      span {
        font-weight: 800;
      }
    }

    p {
      margin: 0 0 auto 0;
      font-size: 60.5%;
    }
  }
}

figure.effect-zoe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 330px;
  figcaption {
    // top: auto;
    bottom: 0;
    padding: 0.5em;
    height: 3.75em;
    background: rgb(255, 255, 255);
    color: #342e49;
    font-size: large;
    font-weight: 700;
    transition: transform 0.35s;
    transform: translate3d(0, 100%, 0);
  }

  h3 {
    float: left;
    transition: transform 0.35s;
    transform: translate3d(0, 200%, 0);
    display: inline-block;
  }

  p.icon-links {
    a {
      margin-right: 5px;
      margin-left: 1px;
      float: right;
      color: #342e49;
      font-size: 1.4em;
      transition: transform 0.35s;
      transform: translate3d(0, 200%, 0);
    }
  }

  &:hover {
    .category-img {
      opacity: 0.8;
    }
    p.icon-links {
      a {
        &:hover {
          color: black;
        }

        &:focus {
          color: black;
        }

        transform: translate3d(0, 0, 0);

        &:nth-child(3) {
          -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
        }

        &:nth-child(2) {
          -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
        }

        &:first-child {
          -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
        }
      }
    }

    p.description {
      opacity: 0.9;
    }

    figcaption {
      transform: translate3d(0, 0, 0);
    }

    h3 {
      transform: translate3d(0, 0, 0);
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
    }
  }

  p.description {
    position: absolute;
    bottom: 8em;
    padding: 1em;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: large;
    text-transform: none;
    opacity: 0;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
  }
}
