<section class="banner-area" id="home">
  <div class="container">
    <div
      class="row fullscreen d-flex align-items-center justify-content-center"
    >
      <div class="banner-content col-lg-10 text-center">
        <h5 class="text-white text-uppercase">Now you can feel the Heat</h5>
        <h1 class="main-text">Smart New Future</h1>
        <a href="#" class="btn btn-primary text-uppercase">{{
          translate.instant("Buy Now")
        }}</a>
      </div>
    </div>
  </div>
</section>

<!-- catagory area begin-->
<section class="category-area">
  <div class="match-height container category-container">
    <div class="category-title">
      <h3>{{ translate.instant("Shop Our Top Catagories") }}</h3>
    </div>
    <div class="grid-hover">
      <div class="row">
        <div class="col-md-3 col-ms-6 col-12">
          <figure class="effect-zoe" (click)="navigateToPage('Phone')">
            <img
              class="category-img"
              src="https://cdn.hoanghamobile.com/i/preview/Uploads/2023/02/27/thumb-xiaomi-13-lite.png"
              alt="img"
            />
            <figcaption>
              <h3>
                True
                <span>Phone</span>
              </h3>
              <p class="icon-links">
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></a>
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-eye" aria-hidden="true"></i
                ></a>
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-edit" aria-hidden="true"></i
                ></a>
              </p>
              <p class="description">
                {{
                  translate.instant(
                    "They provide instant access to information, news, and entertainment through the internet"
                  )
                }}
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-3 col-ms-6 col-12">
          <figure class="effect-zoe" (click)="navigateToPage('Speaker')">
            <img
              class="category-img"
              src="../../../assets/img/07.png"
              alt="img"
            />
            <figcaption>
              <h3>
                Creative
                <span>Zoe</span>
              </h3>
              <p class="icon-links">
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></a>
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-eye" aria-hidden="true"></i
                ></a>
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-edit" aria-hidden="true"></i
                ></a>
              </p>
              <p class="description">
                {{
                  translate.instant(
                    "Headphones are audio devices worn over the ears to listen to music, podcasts, and other audio content privately."
                  )
                }}
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-3 col-ms-6 col-12">
          <figure class="effect-zoe" (click)="navigateToPage('Screen')">
            <img
              class="category-img"
              src="../../../assets/img/8.png"
              alt="img"
            />
            <figcaption>
              <h3>
                Creative
                <span>Zoe</span>
              </h3>
              <p class="icon-links">
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></a>
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-eye" aria-hidden="true"></i
                ></a>
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-edit" aria-hidden="true"></i
                ></a>
              </p>
              <p class="description">
                {{
                  translate.instant(
                    "High-resolution screens offer sharp and vibrant visuals with rich color reproduction"
                  )
                }}
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-3 col-ms-6 col-12">
          <figure class="effect-zoe" (click)="navigateToPage('Watch')">
            <img
              class="category-img"
              src="../../../assets/img/9.png"
              alt="img"
            />
            <figcaption>
              <h3>
                Creative
                <span>Zoe</span>
              </h3>
              <p class="icon-links">
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></a>
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-eye" aria-hidden="true"></i
                ></a>
                <a href="javascript:;" class="mr-1"
                  ><i class="fa fa-edit" aria-hidden="true"></i
                ></a>
              </p>
              <p class="description">
                {{
                  translate.instant(
                    "They can track workouts, provide exercise guidance, and monitor progress towards fitness goals."
                  )
                }}
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <!-- catagory item -->

    <!-- catagory item -->

    <!-- catagory item -->
  </div>
</section>
<!-- catagory area end -->

<!-- best deal section start -->
<section class="bestdeal-area">
  <div class="match-height container bestdeal-container">
    <div class="bestdeal-title">
      <h3>{{ translate.instant("Todays Best Deals For You!") }}</h3>
    </div>
    <swiper
      [config]="config"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
    >
      <ng-template
        *ngFor="let item of dataProductToDay"
        swiperSlide
        style="margin-right: 0"
      >
        <div
          (click)="
            navigateDetailPage(
              item.product_type,
              item.id,
              item.product_images[0],
              item.product_header.title,
              item.product_header.price
            )
          "
        >
          <div class="bestdeal-product">
            <div class="bestdeal-product-thumbnail">
              <img [src]="item.product_images[0]" alt="product img" />
              <div class="bestdeal-product-wishlist">
                <span><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
          <div class="bestdeal-content">
            <div class="bestdeal-content-wrap">
              <h3 class="bestdeal-content-title">
                {{ item.product_header.title }}
              </h3>
              <div class="bestdeal-price">
                <span>{{
                  item.product_header.price
                    | currency : "VND" : "symbol" : "1.0"
                }}</span>
              </div>
            </div>
            <div class="bestdeal-description">
              Table with air purifier, stained veneer/black
            </div>
            <div class="bestdeal-rating">
              <div class="bestdeal-icon__wrap">
                <ng-template #t let-fill="fill">
                  <i
                    class="fa fa-star bestdeal-icon__rating"
                    aria-hidden="true"
                  >
                    <i
                      *ngIf="fill > 0"
                      class="fa fa-star filled"
                      [style.width.%]="fill"
                    ></i>
                  </i>
                </ng-template>

                <ngb-rating
                  [(rate)]="currentRate"
                  [starTemplate]="t"
                  [max]="5"
                  [readonly]="true"
                ></ngb-rating>
              </div>
              <div class="total-rating">(123)</div>
            </div>
            <button class="btn bestdeal-btn__add">
              {{ translate.instant("Add to cart") }}
            </button>
          </div>
        </div>
      </ng-template>
    </swiper>
    <div id="cursor">{{ translate.instant("Drag") }}</div>
  </div>
</section>
<!-- best deal section end -->

<!-- brand choose begin -->
<!-- <section class="brand-area">
  <div class="match-height container brand-container">
    <div class="brand-title">
      <h3>Choose By Brand</h3>
    </div>
    <div class="brand-content">
      <div class="brand-content__item col-lg-3 col-12">
        <div class="brand-content__img">
          <img src="../../../assets/img/logo-brand/acer.jpeg" alt="" />
        </div>
        <div class="brand-content__wrap">
          <h3 class="brand-content__title">Acer</h3>
          <span class="brand-content__desc">Delivery in 24 hours</span>
        </div>
      </div>
      <div class="brand-content__item col-lg-3 col-12">
        <div class="brand-content__img">
          <img src="../../../assets/img/logo-brand/asus.png" alt="" />
        </div>
        <div class="brand-content__wrap">
          <h3 class="brand-content__title">Asus</h3>
          <span class="brand-content__desc">Delivery in 24 hours</span>
        </div>
      </div>
      <div class="brand-content__item col-lg-3 col-12">
        <div class="brand-content__img">
          <img src="../../../assets/img/logo-brand/dell.jpeg" alt="" />
        </div>
        <div class="brand-content__wrap">
          <h3 class="brand-content__title">Dell</h3>
          <span class="brand-content__desc">Delivery in 24 hours</span>
        </div>
      </div>
      <div class="brand-content__item col-lg-3 col-12">
        <div class="brand-content__img">
          <img src="../../../assets/img/logo-brand/hp.jpeg" alt="" />
        </div>
        <div class="brand-content__wrap">
          <h3 class="brand-content__title">HP</h3>
          <span class="brand-content__desc">Delivery in 24 hours</span>
        </div>
      </div>
    </div>
    <div class="brand-content">
      <div class="brand-content__item col-lg-3 col-12">
        <div class="brand-content__img">
          <img src="../../../assets/img/logo-brand/lenovo.png" alt="" />
        </div>
        <div class="brand-content__wrap">
          <h3 class="brand-content__title">Lenovo</h3>
          <span class="brand-content__desc">Delivery in 24 hours</span>
        </div>
      </div>
      <div class="brand-content__item col-lg-3 col-12">
        <div class="brand-content__img">
          <img src="../../../assets/img/logo-brand/LG.jpeg" alt="" />
        </div>
        <div class="brand-content__wrap">
          <h3 class="brand-content__title">LG</h3>
          <span class="brand-content__desc">Delivery in 24 hours</span>
        </div>
      </div>
      <div class="brand-content__item col-lg-3 col-12">
        <div class="brand-content__img">
          <img src="../../../assets/img/logo-brand/logitech.jpeg" alt="" />
        </div>
        <div class="brand-content__wrap">
          <h3 class="brand-content__title">Logitech</h3>
          <span class="brand-content__desc">Delivery in 24 hours</span>
        </div>
      </div>
      <div class="brand-content__item col-lg-3 col-12">
        <div class="brand-content__img">
          <img src="../../../assets/img/logo-brand/samsung.jpeg" alt="" />
        </div>
        <div class="brand-content__wrap">
          <h3 class="brand-content__title">SamSung</h3>
          <span class="brand-content__desc">Delivery in 24 hours</span>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- brand choose end -->

<!-- discount banner start -->
<section class="discount-banner">
  <div class="discount-banner__img"></div>
  <div class="discount-container">
    <div class="discount-banner__content">
      <h2 class="discount-banner__title">
        {{ translate.instant("Get 5% Cash back on $200") }}
      </h2>
      <p class="discount-banner__para">
        {{
          translate.instant(
            "Shopping is a bit of a relaxing hobby for me, which is sometimes troubling for the bank balance."
          )
        }}
      </p>
      <button class="discount-banner__button">
        {{ translate.instant("Learn More") }}
      </button>
    </div>
  </div>
</section>
<!-- discount banner end -->

<!-- best products start -->
<section class="bestproduct-area">
  <div class="match-height container bestproduct-container">
    <div class="bestproduct-title">
      <h3>{{ translate.instant("Best Products For You!") }}</h3>
    </div>
    <div>
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="'Samsung'" (click)="fetchDataProductBrand('Samsung')">
          <button ngbNavLink>Samsung</button>
          <ng-template ngbNavContent>
            <div class="d-flex flex-wrap">
              <div
                *ngFor="let item of dataProductBrand"
                class="bestproduct-item"
                (click)="navigateDetailPage(item.product_type, item.id)"
              >
                <div class="bestdeal-product">
                  <div class="bestdeal-product-thumbnail">
                    <img [src]="item.product_images[0]" alt="" />
                    <div class="bestdeal-product-wishlist">
                      <span
                        ><i class="fa fa-heart-o" aria-hidden="true"></i
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="bestdeal-content">
                  <div class="bestdeal-content-wrap">
                    <h3 class="bestdeal-content-title">
                      {{ item.product_header.title }}
                    </h3>
                    <div class="bestdeal-price">
                      <span>{{
                        item.product_header.price
                          | currency : "VND" : "symbol" : "1.0"
                      }}</span>
                    </div>
                  </div>
                  <div class="bestdeal-description">
                    Table with air purifier, stained veneer/black
                  </div>
                  <div class="bestdeal-rating">
                    <div class="bestdeal-icon__wrap">
                      <ng-template #t let-fill="fill">
                        <i
                          class="fa fa-star bestdeal-icon__rating"
                          aria-hidden="true"
                        >
                          <i
                            *ngIf="fill > 0"
                            class="fa fa-star filled"
                            [style.width.%]="fill"
                          ></i>
                        </i>
                      </ng-template>

                      <ngb-rating
                        [(rate)]="currentRate"
                        [starTemplate]="t"
                        [max]="5"
                        [readonly]="true"
                      ></ngb-rating>
                    </div>
                    <div class="total-rating">(123)</div>
                  </div>
                  <button class="btn bestdeal-btn__add">
                    {{ translate.instant("Add to cart") }}
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'Xiaomi'" (click)="fetchDataProductBrand('Xiaomi')">
          <button ngbNavLink>Xiaomi</button>
          <ng-template ngbNavContent>
            <div class="d-flex flex-wrap">
              <div
                *ngFor="let item of dataProductBrand"
                class="bestproduct-item"
                (click)="navigateDetailPage(item.product_type, item.id)"
              >
                <div class="bestdeal-product">
                  <div class="bestdeal-product-thumbnail">
                    <img [src]="item.product_images[0]" alt="" />
                    <div class="bestdeal-product-wishlist">
                      <span
                        ><i class="fa fa-heart-o" aria-hidden="true"></i
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="bestdeal-content">
                  <div class="bestdeal-content-wrap">
                    <h3 class="bestdeal-content-title">
                      {{ item.product_header.title }}
                    </h3>
                    <div class="bestdeal-price">
                      <span>{{
                        item.product_header.price
                          | currency : "VND" : "symbol" : "1.0"
                      }}</span>
                    </div>
                  </div>
                  <div class="bestdeal-description">
                    Table with air purifier, stained veneer/black
                  </div>
                  <div class="bestdeal-rating">
                    <div class="bestdeal-icon__wrap">
                      <ng-template #t let-fill="fill">
                        <i
                          class="fa fa-star bestdeal-icon__rating"
                          aria-hidden="true"
                        >
                          <i
                            *ngIf="fill > 0"
                            class="fa fa-star filled"
                            [style.width.%]="fill"
                          ></i>
                        </i>
                      </ng-template>

                      <ngb-rating
                        [(rate)]="currentRate"
                        [starTemplate]="t"
                        [max]="5"
                        [readonly]="true"
                      ></ngb-rating>
                    </div>
                    <div class="total-rating">(123)</div>
                  </div>
                  <button class="btn bestdeal-btn__add">Add to Cart</button>
                </div>
              </div>
            </div>
            >
          </ng-template>
        </li>
        <li [ngbNavItem]="'Apple'" (click)="fetchDataProductBrand('Apple')">
          <button ngbNavLink>Apple</button>
          <ng-template ngbNavContent>
            <div class="d-flex flex-wrap">
              <div
                *ngFor="let item of dataProductBrand"
                class="bestproduct-item"
                (click)="navigateDetailPage(item.product_type, item.id)"
              >
                <div class="bestdeal-product">
                  <div class="bestdeal-product-thumbnail">
                    <img [src]="item.product_images[0]" alt="" />
                    <div class="bestdeal-product-wishlist">
                      <span
                        ><i class="fa fa-heart-o" aria-hidden="true"></i
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="bestdeal-content">
                  <div class="bestdeal-content-wrap">
                    <h3 class="bestdeal-content-title">
                      {{ item.product_header.title }}
                    </h3>
                    <div class="bestdeal-price">
                      <span>{{
                        item.product_header.price
                          | currency : "VND" : "symbol" : "1.0"
                      }}</span>
                    </div>
                  </div>
                  <div class="bestdeal-description">
                    Table with air purifier, stained veneer/black
                  </div>
                  <div class="bestdeal-rating">
                    <div class="bestdeal-icon__wrap">
                      <ng-template #t let-fill="fill">
                        <i
                          class="fa fa-star bestdeal-icon__rating"
                          aria-hidden="true"
                        >
                          <i
                            *ngIf="fill > 0"
                            class="fa fa-star filled"
                            [style.width.%]="fill"
                          ></i>
                        </i>
                      </ng-template>

                      <ngb-rating
                        [(rate)]="currentRate"
                        [starTemplate]="t"
                        [max]="5"
                        [readonly]="true"
                      ></ngb-rating>
                    </div>
                    <div class="total-rating">(123)</div>
                  </div>
                  <button class="btn bestdeal-btn__add">
                    {{ translate.instant("Add to cart") }}
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</section>
<!-- best products end -->

<!-- service start -->
<section class="service-area">
  <div class="match-height container service-container">
    <div class="service-title">
      <h3>{{ translate.instant("Services To Help You!") }}</h3>
    </div>
    <div class="service-content">
      <div class="service-content__item">
        <div class="card overflow-hidden">
          <img
            class="card-img-top img-fluid"
            src="assets/img/user-question.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">
              {{ translate.instant("Frequently Asked Question") }}
            </h4>
            <p class="card-text">
              {{ translate.instant("Updates on safe Shopping in our Stores") }}
            </p>
          </div>
        </div>
      </div>
      <div class="service-content__item">
        <div class="card overflow-hidden">
          <img
            class="card-img-top img-fluid"
            src="assets/img/payment.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">
              {{ translate.instant("Online Payment Process") }}
            </h4>
            <p class="card-text">
              {{ translate.instant("The bests choice for you!") }}
            </p>
          </div>
        </div>
      </div>
      <div class="service-content__item">
        <div class="card overflow-hidden">
          <img
            class="card-img-top img-fluid"
            src="assets/img/deliver.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">
              {{ translate.instant("Home Delivery Options") }}
            </h4>
            <p class="card-text">
              {{ translate.instant("Convenient and fast") }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- service end -->
