// @import "../../../assets/variables/variables";
h1 {
  font-size: 5.5rem;
}

.container {
  max-width: 1320px;
}
.logo {
  &-img {
    object-fit: cover;
    width: 50px;
  }
  &-text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: medium;
    font-weight: 600;
    color: #003d29;
  }
}
.nav {
  &-container {
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
  }
  &-header {
    &__item {
      padding: 8px;
      text-align: center;
    }
    &__link {
      text-decoration: none;
    }
  }
}
nav {
  transition: background-color 0.3s ease-in-out;
}

nav.scrolled {
  background-color: #012a1cd7;
}
.search {
  &-input {
    outline: none;
    position: relative;
  }
  &-button {
    background-color: white;
    border: none;
    position: absolute;
    top: 4px;
    right: 5px;
    outline: none;
  }
}

.banner {
  &-area {
    background: url(../../../assets/img/banner/header-bg.png.webp) center;
    background-size: cover;
    max-height: 600px;
    height: 600px;
  }
  &-content {
    transform: translateY(-70%);
  }
}
.fullscreen {
  height: 587px;
}

.main-text {
  font-size: 5.5rem;
  color: white;
}

// category style

.category {
  &-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &-container {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
  &-title {
    padding: 20px 0 20px 0;
    color: #003d29;
    h3 {
      font-size: 35px;
      line-height: 20px;
      font-weight: 700;
    }
  }
}

//bestdeal style

.bestdeal {
  &-container {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
    // position: relative;
  }
  &-area {
    padding-bottom: 50px;
  }
  &-title {
    padding: 20px 0 20px 0;
    h3 {
      font-size: 35px;
      line-height: 20px;
      font-weight: 700;
    }
  }
  &-product {
    &-thumbnail {
      position: relative;
      background-color: #f5f6f6;
      overflow: hidden;
      border: 1px solid transparent;
      border-radius: 15px;
    }
    &-wishlist {
      width: 40px;
      height: 40px;
      border-radius: 100px;
      background-color: white;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 16px;
      right: 16px;
      font-size: 20px;
      transition: background-color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out 0.1s;
      &:hover {
        background-color: #fd8a8a;
        color: white;
      }
    }
  }
  &-content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-content-title {
    margin-top: 16px;
    margin-bottom: 12px;
    font-family: Inter, sans-serif;
    color: #003d29;
    font-size: 25px;
    font-weight: 600;
  }
  &-price {
    font-size: 18px;
    font-weight: 700;
  }
  &-rating {
    display: flex;
    margin-bottom: 15px;
  }
  &-description {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16.5px;
  }
  &-icon__wrap {
    margin-right: 10px;
  }
  &-icon__rating {
    position: relative;
    display: inline-block;
    padding-right: 0.1rem;
  }
  &-btn__add {
    border: 1px solid #3c3939;
    border-radius: 15px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    &:hover {
      color: white;
      background-color: #003d29;
    }
  }
}
.text-span {
  position: relative;
  top: -5px;
  font-size: 13px;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  bottom: 0;
  top: unset;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #003d29;
}

.swiper-slide {
  margin-right: 25px !important;
  width: calc(33.33% - 25px) !important;
}
.swiper-wrapper {
  cursor: none;
}
.swiper:hover ~ #cursor {
  display: flex;
}
.filled {
  color: #08ac0a;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
#cursor {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  transform: translate(50%, 50%);
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
}

// brand style
.brand {
  &-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &-container {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
  &-title {
    padding: 20px 0 20px 0;
    color: #003d29;
    h3 {
      font-size: 35px;
      line-height: 20px;
      font-weight: 700;
    }
  }
  &-content {
    display: flex;
    margin-bottom: 20px;
    &__item {
      display: flex;
      width: calc(25% - 20px);
      min-height: 100px;
      border: 1px solid transparent;
      border-radius: 8px;
      overflow: hidden;
      background-color: #f5f6f6;
      padding: 20px;
      margin-right: 20px;
      cursor: pointer;
      transition: border-color 0.2s ease-in;
      &:hover {
        border-color: #231f1e;
      }
    }
    &__img {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      display: inline-block;
      margin-right: 25px;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
    &__title {
      margin-top: 0px;
      margin-bottom: 13px;
      font-family: Inter, sans-serif;
      color: #231f1e;
      font-size: 18px;
      font-weight: 600;
    }
    &__desc {
      margin-bottom: 0px;
      font-size: 13px;
      line-height: 13px;
      font-weight: 500;
    }
  }
}
@media screen and (max-width: 768px) {
  .col-12 {
    width: 100% !important;
  }
  .brand-content {
    flex-wrap: wrap;
    &__item {
      margin-bottom: 15px;
    }
  }
}

//discount banner style
.discount {
  &-banner {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 95px;
    padding-bottom: 95px;
    margin-bottom: 50px;
    min-height: 100vh;
    &__img {
      position: absolute;
      left: 0%;
      top: 0%;
      right: auto;
      bottom: auto;
      background-image: url(../../../assets/img/banner/collection-product.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &__content {
      display: inline-block;
      padding: 75px 64px;
      background-color: #003d29;
      text-align: left;
    }
    &__title {
      margin-bottom: 12px;
      font-size: 52px;
      font-weight: 800;
      max-width: 381px;
      margin-top: 0px;
      font-family: Inter, sans-serif;
      color: white;
    }
    &__para {
      max-width: 385px;
      margin-bottom: 50px;
      color: white;
    }
    &__button {
      border: 2px solid #ffffff;
      border-radius: 30px;
      padding: 15px 25px;
      background-color: #003d29;
      color: white;
      font-size: 18px;
      transition: transform 0.2s ease-in-out;
      &:active {
        transform: scale(1.2);
      }
    }
  }
  &-container {
    overflow: hidden;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 40px;
    padding-left: 40px;
    text-align: right;
  }
}

// best products style
.bestproduct {
  &-container {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
    // position: relative;
  }
  &-area {
    padding-bottom: 50px;
  }
  &-title {
    padding: 20px 0 20px 0;
    margin-bottom: 15px;
    h3 {
      font-size: 35px;
      line-height: 20px;
      font-weight: 700;
    }
  }
  &-item {
    max-width: calc(25% - 24px);
    margin-right: 24px;
    cursor: pointer;
  }
}
.nav {
  &-item {
    // &:first-child {
    //   margin-left: -16px;
    // }
    margin-right: 15px;
    padding: 0px;
  }
  &-link {
    border-color: transparent !important;
    overflow: hidden;
    padding: 10px 30px;
    border: 1px solid #9e9c9c !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-radius: 20px;
    background-color: white !important;
    color: #003d29 !important;
  }
  &-link.active {
    background-color: #003d29 !important;
    color: white !important;
    border-color: transparent !important;
  }
  &-tabs {
    border: none !important;
    margin-bottom: 40px;
  }
}

// service style
.service {
  &-container {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
    // padding-bottom: 40px;
    // position: relative;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 80%;
    //   height: 1px;
    //   background-color: #9e9c9c;
    // }
  }
  &-area {
    padding-bottom: 50px;
  }
  &-title {
    padding: 20px 0 20px 0;
    margin-bottom: 15px;
    h3 {
      font-size: 35px;
      line-height: 20px;
      font-weight: 700;
    }
  }
  &-content {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid #908d8d85;
    &__item {
      width: calc(33.33) % - 24px;
      margin-right: 24px;
    }
  }
}
.card {
  border-color: transparent;
}
.card-body {
  padding: 40px;
  background-color: #f5f6f6;
}
.card-title {
  max-width: 230px;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  text-transform: capitalize;
}

//footer style
.footer {
  max-height: 100vh;
  &-area {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
  &-top {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
  }
  &-payment__title {
    margin-top: 0px;
    margin-bottom: 23px;
    font-family: Inter, sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-transform: capitalize;
  }
  &-payment-thumb__wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &-payment__item {
    min-width: calc(25% - 10px);
    min-height: 40px;
    margin-bottom: 10px;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b4b1b1;
    border-radius: 5px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &-list__title {
    margin-top: 0px;
    margin-bottom: 23px;
    font-family: Inter, sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-transform: capitalize;
  }
  &-list {
    padding-left: 0;
    list-style: none;
  }
  &-list__item {
    color: #0e0f18;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    &:hover {
      color: #c34482;
      transform: translateX(15px);
    }
  }
  &-bottom {
    padding: 33px 0;
    border-top: 1px solid #b4b1b1ac;
    display: flex;
    justify-content: space-between;
  }
}
.copy-right-menu__left {
  display: flex;
  justify-content: space-between;
}
.footer-bottom-left__item {
  margin-right: 20px;
}
.footer-service__icon {
  margin-right: 10px;
  color: #c34482;
  font-size: 25px;
}
.footer-service__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.25s ease-out;
  &:hover {
    color: #c34482;
  }
}
.footer-copyright__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
  margin-right: 20px;
}
.footer-logo {
  margin-bottom: 35px;
  &__title {
    color: #003d29;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 800;
    vertical-align: bottom;
  }
}
.paragraph {
  margin-bottom: 40px;
}
/* Gallery hover effects */

.grid-hover {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  list-style: none;

  figure {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    min-width: auto;
    max-width: 480px;
    max-height: 360px;

    background: #1e242b;
    text-align: center;
    cursor: pointer;

    img {
      object-fit: cover;
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 1;
    }

    figcaption {
      padding: 0.5em;
      color: rgb(57, 45, 45);
      text-transform: uppercase;
      font-size: 1em;
      background-color: white;
      position: absolute;
      bottom: 0%;
      left: 0;
      width: 100%;
      height: 25%;

      &::before {
        pointer-events: none;
      }

      &::after {
        pointer-events: none;
      }

      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }

    h3 {
      word-spacing: -0.15em;
      font-weight: 300;
      margin: 0;

      span {
        font-weight: 800;
      }
    }

    p {
      margin: 0 0 auto 0;
      font-size: 60.5%;
    }
  }
}

figure.effect-zoe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 330px;
  figcaption {
    // top: auto;
    bottom: 0;
    padding: 0.5em;
    height: 3.75em;
    background: rgb(255, 255, 255);
    color: #342e49;
    font-size: large;
    font-weight: 700;
    transition: transform 0.35s;
    transform: translate3d(0, 100%, 0);
  }

  h3 {
    float: left;
    transition: transform 0.35s;
    transform: translate3d(0, 200%, 0);
    display: inline-block;
  }

  p.icon-links {
    a {
      margin-right: 5px;
      margin-left: 1px;
      float: right;
      color: #342e49;
      font-size: 1.4em;
      transition: transform 0.35s;
      transform: translate3d(0, 200%, 0);
    }
  }

  &:hover {
    .category-img {
      opacity: 0.8;
    }
    p.icon-links {
      a {
        &:hover {
          color: black;
        }

        &:focus {
          color: black;
        }

        transform: translate3d(0, 0, 0);

        &:nth-child(3) {
          -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
        }

        &:nth-child(2) {
          -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
        }

        &:first-child {
          -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
        }
      }
    }

    p.description {
      opacity: 0.9;
    }

    figcaption {
      transform: translate3d(0, 0, 0);
    }

    h3 {
      transform: translate3d(0, 0, 0);
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
    }
  }

  p.description {
    position: absolute;
    bottom: 8em;
    padding: 1em;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: large;
    text-transform: none;
    opacity: 0;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
  }
}
