.page-outline {
  background-color: #ddd;
  min-width: 100vw;
  min-height: 100vh;
  padding: 20px;
}
.login-container {
  //   max-width: 1320px;
  background-color: white;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 30px;
  margin: 0 auto;
  max-width: 1200px;
}

.login {
  &-content__left {
    padding: 50px;
  }
  &-promotion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      font-size: 22px;
      font-weight: 700;
    }
  }
  &-img {
    background-image: url(../../../../assets/img/banner/forgot-password.png);
    background-position: center;
    background-size: cover;
  }
}

.auth {
  &-block {
    margin: 20px;
  }
  &-title {
    text-align: center;
    padding: 15px;
    font-size: 55px;
    font-weight: 600;
  }
  &-btn__google {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    transition: all 0.25s ease-in-out;
    &:active {
      background-color: #003d29;
      color: white;
    }
  }
  &-btn__submit {
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    background-color: #003d29;
    color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    transition: all 0.25s ease-in-out;
  }
  &-btn__title {
    display: inline-block;
    margin-top: 3px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
  }
  &-text__forgot {
    text-align: center;
    padding: 10px 40px;
    font-weight: 400;
    font-size: 15px;
    color: #75777d;
    cursor: pointer;
  }
}
.link-register {
  color: #2451c4;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.or {
  text-align: center;
  padding: 10px 40px;
  display: block;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background-color: #ddd;
    width: 60px;
    height: 1px;
    top: 50%;
    left: 30%;
  }
  &:after {
    position: absolute;
    content: "";
    background-color: #ddd;
    width: 60px;
    height: 1px;
    top: 50%;
    right: 30%;
  }
}
.ng-select .ng-select-container {
  overflow: hidden;
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
}

.img-flag {
  max-width: 25px;
  max-height: 25px;
  float: left;
  margin-right: 5px;
  margin-top: 3px;
  vertical-align: middle;
}
