<!-- footer start -->
<footer class="footer">
  <div class="container footer-area">
    <div class="footer-top">
      <div class="col-md-4">
        <div class="footer-logo">
          <img
            class="d-inline-block align-text-top logo-img"
            src="../../../assets/img/logo.png"
            alt="Tech Shop Logo"
            width="40"
            height="35"
            loading="lazy"
          />
          <span class="text-center logo-text footer-logo__title"
            >Aley TechShop</span
          >
        </div>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius labore
          exercitationem inventore esse omnis eos numquamng s
        </p>
        <div class="footer-payment">
          <h3 class="footer-payment__title">Accepted Payment</h3>
          <div class="footer-payment-thumb__wrap">
            <div class="footer-payment__item">
              <img
                src="assets/img/payment/stripe.png"
                alt="img payment"
                class="footer-payment__img"
              />
            </div>
            <div class="footer-payment__item">
              <img
                src="assets/img/payment/visa.png"
                alt="img payment"
                class="footer-payment__img"
              />
            </div>
            <div class="footer-payment__item">
              <img
                src="assets/img/payment/mastercard.png"
                alt="img payment"
                class="footer-payment__img"
              />
            </div>
            <div class="footer-payment__item">
              <img
                src="assets/img/payment/amazon.png"
                alt="img payment"
                class="footer-payment__img"
              />
            </div>
            <div class="footer-payment__item">
              <img
                src="assets/img/payment/klarna.png"
                alt="img payment"
                class="footer-payment__img"
              />
            </div>
            <div class="footer-payment__item">
              <img
                src="assets/img/payment/paypal.png"
                alt="img payment"
                class="footer-payment__img"
              />
            </div>
            <div class="footer-payment__item">
              <img
                src="assets/img/payment/apple-pay.png"
                alt="img payment"
                class="footer-payment__img"
              />
            </div>
            <div class="footer-payment__item">
              <img
                src="assets/img/payment/google-pay.png"
                alt="img payment"
                class="footer-payment__img"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h3 class="footer-list__title">Department</h3>
        <ul class="footer-list">
          <li class="footer-list__item">Phone</li>
          <li class="footer-list__item">Laptop</li>
          <li class="footer-list__item">Tablets</li>
          <li class="footer-list__item">Watch</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3 class="footer-list__title">About Us</h3>
        <ul class="footer-list">
          <li class="footer-list__item">About Shopcart</li>
          <li class="footer-list__item">Careers</li>
          <li class="footer-list__item">New & Blog</li>
          <li class="footer-list__item">Press Center</li>
          <li class="footer-list__item">Shop by Location</li>
          <li class="footer-list__item">Shopcart Brand</li>
          <li class="footer-list__item">Affiliate & Partners</li>
          <li class="footer-list__item">ideas & Guides</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3 class="footer-list__title">Service</h3>
        <ul class="footer-list">
          <li class="footer-list__item">Gift Card</li>
          <li class="footer-list__item">Mobile App</li>
          <li class="footer-list__item">Shipping & Delivery</li>
          <li class="footer-list__item">Other Pickup</li>
          <li class="footer-list__item">Account Sigup</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3 class="footer-list__title">Help</h3>
        <ul class="footer-list">
          <li class="footer-list__item">Shopcart Help</li>
          <li class="footer-list__item">Returns</li>
          <li class="footer-list__item">Trach Orders</li>
          <li class="footer-list__item">Contact Us</li>
          <li class="footer-list__item">Feedback</li>
          <li class="footer-list__item">Security & Fraud</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="copy-right-menu__left">
        <div class="footer-bottom-left__item">
          <i
            class="fa fa-briefcase footer-service__icon"
            aria-hidden="true"
          ></i>
          <span class="footer-service__text">Become Seller</span>
        </div>
        <div class="footer-bottom-left__item">
          <i class="fa fa-gift footer-service__icon" aria-hidden="true"></i>
          <span class="footer-service__text">Become Seller</span>
        </div>
        <div class="footer-bottom-left__item">
          <i
            class="fa fa-question-circle-o footer-service__icon"
            aria-hidden="true"
          ></i>
          <span class="footer-service__text">Become Seller</span>
        </div>
      </div>
      <div class="copy-right-menu__right">
        <span class="footer-service__text">Terms of Service</span>
        <span class="footer-service__text">Privacy & Policy</span>
        <span class="footer-copyright__text"
          >All Right reserved by Loid | 2023</span
        >
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->
