<ng-container *ngIf="dataProduct">
  <div class="product">
    <div class="container">
      <div class="row product-header">
        <div class="col-md-7">
          <swiper [config]="configHeaderImg">
            <ng-template
              *ngFor="let image of dataProduct.product_images"
              swiperSlide
              style="margin-right: 0; width: 100%"
            >
              <img
                [src]="image"
                alt="img of product"
                style="margin: 10px auto"
              />
            </ng-template>
          </swiper>
        </div>
        <div class="col-md-5">
          <h2 class="product-item-title">
            {{ dataProduct.product_header.title }}
          </h2>
          <div class="product-item-price">
            <ins>{{
              dataProduct.product_header.price
                | currency : "VND" : "symbol" : "1.0"
            }}</ins>
            <del>{{
              getPromotionPrice(dataProduct.product_header.price)
                | currency : "VND" : "symbol" : "1.0"
            }}</del>
            <!-- <span>-15 %</span> -->
          </div>
          <strong class="product-item-color__title">Lựa chọn màu</strong>
          <div class="product-item-color__price">
            <!-- <div *ngIf="brand$ | async as brands">
                  <div *ngFor="let item of brands" class="checkbox checkbox-sm">
                    <input
                      type="checkbox"
                      [id]="item"
                      [value]="item"
                      (change)="onCheckboxChange($event, checkbox)"
                      #checkbox
                    />
                    <label [for]="item"
                      ><span>{{ item }}</span></label
                    >
                  </div>
              </div> -->
            <!-- <ng-template
              *ngFor="let item of dataProduct.product_header?.color_option"
            > -->
            <div
              *ngFor="let item of dataProduct.product_header?.color_option"
              class="checkbox-item"
              (click)="onCheckedInput(checkboxColor)"
            >
              <div class="checkbox checkbox-sm">
                <div class="checkbox-group">
                  <input
                    type="checkbox"
                    [id]="item.color_price"
                    #checkboxColor
                  />
                  <label [for]="item.color_price">{{ item.color_label }}</label>
                </div>
              </div>
              <span>{{
                item.color_price | currency : "VND" : "symbol" : "1.0"
              }}</span>
            </div>
            <!-- </ng-template> -->
          </div>
          <div class="product-item-offer-include">
            <strong class="product-item-offer-title">Khuyến Mãi</strong>
            <ul>
              <li
                *ngFor="let item of dataProduct.product_header?.offer_include"
              >
                {{ item }}
              </li>
            </ul>
          </div>
          <div class="product-item-btn-group">
            <div class="product-btn-quantity">
              <button class="btn-change-quantity__left">-</button>
              <input
                type="text"
                value="1"
                max="99"
                min="1"
                readonly
                class="product-input-quantity"
              />
              <button class="btn-change-quantity__right">+</button>
            </div>
            <button class="product-btn-add">Add to cart</button>
          </div>
        </div>
      </div>
      <div class="row product-desc">
        <div class="col-md-7">
          <div class="product-item-offer-info">
            <div class="product-item-payment-incentives">
              <strong class="product-item-payment-incentives__title"
                >Ưu đãi thanh toán</strong
              >
              <ul>
                <li
                  *ngFor="
                    let item of dataProduct.product_header?.payment_incentives
                  "
                >
                  <img
                    src="assets/img/icons/check-bage.svg"
                    alt="icon"
                    class="icon"
                  />
                  {{ item }}
                </li>
              </ul>
            </div>
            <div class="product-item-promotions">
              <strong class="product-item-promotion-title"
                >Ưu đãi đi kèm</strong
              >
              <ul>
                <li *ngFor="let item of dataProduct.product_header?.promotion">
                  <img
                    src="assets/img/icons/check-bage.svg"
                    alt="icon"
                    class="icon"
                  />
                  {{ item }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="product-specs">
            <h3>{{ dataProduct.product_desc?.product_spect?.spectHeader }}</h3>
            <div class="product-spect-img">
              <img [src]="dataProduct.product_images[0]" alt="spect img" />
            </div>
            <ol>
              <li
                *ngFor="
                  let item of dataProduct.product_desc?.product_spect
                    ?.spectContent
                "
              >
                <strong>{{ item.techTitle }}</strong>
                <span>{{ item.techContent }}</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="row product-suggest">
        <h3>Products in the same segment</h3>
        <swiper
          [config]="configBestDeal"
          (swiper)="onSwiper($event)"
          (slideChange)="onSlideChange()"
        >
          <ng-template
            *ngFor="let item of dataProductSegment"
            swiperSlide
            style="margin-right: 0"
          >
            <div (click)="navigateDetailPage(item.id)">
              <div class="bestdeal-product">
                <div class="bestdeal-product-thumbnail">
                  <img
                    [src]="item.product_images[0]"
                    alt="img product segment"
                  />
                </div>
              </div>
              <div class="bestdeal-content">
                <div class="bestdeal-content-wrap">
                  <h3 class="bestdeal-content-title">
                    {{ item.product_header.title }}
                  </h3>
                  <div class="bestdeal-price">
                    <span>{{
                      item.product_header.price
                        | currency : "VND" : "symbol" : "1.0"
                    }}</span>
                  </div>
                </div>
                <div class="bestdeal-description">
                  Table with air purifier, stained veneer/black
                </div>

                <button class="btn bestdeal-btn__add">Add to Cart</button>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</ng-container>
